.LicenseInfo {
  position: relative;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #edeff3;
  border-radius: 0.5rem;

  h2 {
    margin: 0 0 1rem;

    small {
      display: block;
      font-size: 0.875rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #a6afbd;
      margin-bottom: 0.25rem;
    }
  }

  button {
    background: #a6afbd;
    border: 2px solid #8d96a5;

    &:active {
      background: #8d96a5;
    }
  }
}

.LicenseInfoTable {
  overflow-x: auto;
  border-top: 1px solid #e2e2e2;
}

.LicenseInfoValidTag {
  position: relative;
  top: -4px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.25em 0.75rem;
  background: #12c570;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

.LicenseInfoInvalidTag {
  @extend .LicenseInfoValidTag;
  background: #fe0000;
}