.LicenseValidator {
  position: relative;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #edeff3;
  border-radius: 0.5rem;

  h2 {
    margin: 0 0 1rem;

    small {
      display: block;
      font-size: 0.875rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #a6afbd;
      margin-bottom: 0.25rem;
    }
  }
}