.LicenseManager {
  position: relative;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #edeff3;
  border-radius: 0.5rem;

  h3 {
    margin: 0 0 1rem;

    small {
      display: block;
      font-size: 0.875rem;
      font-weight: 400;
      text-transform: uppercase;
      color: #a6afbd;
      margin-bottom: 0.25rem;
    }
  }
}

.LicenseManagerInfo {
  margin-top: 0;
}

.LicenseManagerTag {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.15rem 0.5rem;
  background: #12c570;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

.LicenseManagerTable {
  overflow-x: auto;
  border-top: 1px solid #e2e2e2;
}